.container	{
	margin: auto;
	width: 800px;
}
.header {
	height: 156px;
	background: blue;
	border-bottom: 2px solid white;
}

.header .judul {
	width: 800px;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
	color: white;

}

.header .admin {
	width: 398px;
	height: 50px;
	float: left;
	background-color: red;
	color: white;
	font-weight: bolder;
	text-align: center;
}

.header .user {
	width: 398px;
	height: 50px;
	float: left;
	background-color: red;
	color: white;
	font-weight: bolder;
	text-align: center;
}

.header .admin button, .header .user button{
	height: 50px;
	width: 398px;
	background-color: #4ab0ff;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.header .admin button:hover, .header .user button:hover{
	height: 50px;
	width: 398px;
	background-color: #8bd7ff;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bolder;
}
.mid {
	width: 4px;
	height: 50px;
	float: left;
	background-color: blue;
}

.kubus {

	padding: 40px 40px 40px 40px;
	background-color: #8bd7ff;
}

.container .isi {
	height: auto;
	width: auto;
	background-color: red;
	padding: 40px;
	color: white;
}
