.nav {
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	padding: 10px;
	width: auto;
	background-color: #0262CE
	font-weight: bolder;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	margin-right: 5px;
}

.nav:hover {
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	padding: 10px;
	width: auto;
	background-color: #0090FF;
	font-weight: bolder;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	margin-right: 5px;
}

.nav a {
	color: white;
	text-decoration: none;
}

button {
	border:none;
	font-size: 18px;
	font-weight: bolder;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
	border-radius: 5px;
	background-color: #0087C6;
	color: white;
}

button:hover {
	border:none;
	font-size: 18px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
	border-radius: 5px;
	background-color: #00A9F8;
	color: white;
}
.isi {

	background: rgba(0,0,255,.4);
	color:white;
	padding : 20px;

}
.form	{
	width: 700px;
	height: auto;
	padding: 10 5 10 5;
	background-color: rgba(0,0,100,.6);
	border-radius: 7px;
	box-shadow: 10 0 20 0  solid rgba(0, 0, 0, 0.8);

}

.form a {
	color:white;
	font-weight: bolder;
}

.form a:hover {
color:black;
font-weight:bolder;
font-size:16px;	
}

.form label {
	font-size: 20px;
	font-weight: bolder;
}

.form input {
	border:none;
	padding:10px;
	border-radius: 5px;
}

.login {
	border: none;
	padding: 10px;
	width: 250px;
}

.m, .p, .s {
	border:none;
	font-size: 18px;
	font-weight: bolder;
	padding: 10px;
	width: 100px;
	border-radius: 5px;
	color: white;
}

table tr td, th{padding: 10px;}
.p {background-color: rgb(234,231,85);padding: 7px;width: 120px;} .p:hover {width: 120px;padding: 7px;background-color: rgb(234,231,85);}
.m {background-color: rgb(214,10,10);padding: 7px;width: 120px;} .m:hover {width: 120px;padding: 7px;background-color: rgb(245,52,52)}
.s {background-color: rgb(24,166,0);padding: 7px;width: 120px;} .s:hover{width: 120px;padding: 7px;background-color: rgb(84,255,83)}
table{font-size: 19px;}