.container {
	width: 1200px;
	height: auto;
	margin:auto;
	padding: 5px;
}

.header {
	height: 100px;
	background-color: #0072CA;
	border-radius: 5px 5px 0 0;
	border-bottom: 2px solid white;
	
}
.image {
	float: right;
	width: 300px;
	height: 100px;
}

.image .gmbr {
	margin-top: 8px;
	height: 70px;
	width: 130px;
	padding: 7px;
	background-color: #0072CA;
}

.image .gmbr img {
	margin-top: -17px;
	border-radius: 50%;
}

.image .gmbr:hover {
	margin-top: 8px;
	height: 70px;
	width: 200px;
	padding: 7px;
	background-color: #0090FF;
}

.image .gmbr img:hover {
	margin-top: -17px;
	border-radius: 50%;
}
